<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head')%>
  </head>
  <body>
    <%-include('includes/header')%>
    <%-include('includes/side-drawer')%>
    <main>
      <h1> 404: Page not Found </h1>
      <p>Unfortunately , we were not able to find what you were looking for </p>
    </main>
  </body>
</html>
