<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head')%>
  </head>
  <body>
    <%-include('includes/header')%>
    <%-include('includes/side-drawer')%>
    <main>
      <h1> 404: Something Went Wrong  </h1>
      <p>Unfortunately ,Something went wrong on the server, we are trying our best 
        to fix it as quickly as possible </p>
    </main>
  </body>
</html>
